.app-form-field {
    width: 100%;
}

.close-button {
    float: right;
    top: -24px;
    right: -24px;
}

.close-icon {
    transition: 1s ease-in-out;
}

.close-icon:hover {
    transform: rotate(180deg);
}

 ::ng-deep .icon-outside .close-button {
    float: right;
    top: -52px;
    right: -52px;
}

 ::ng-deep .icon-outside .mat-dialog-container {
    overflow: unset
}

.custom-loading-text {
    position: absolute;
    color: white;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 23, 18, 0.5);
    overflow-x: auto;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-container-spinner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.custom-icon-pay-card {
    width: 75px;
    height: 75px;
}

.custom-conaint-car-pay {
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep snack-bar-container.custom-msg {
    background: white;
    border: 1px solid #00a5b7;
}

 ::ng-deep .custom-msg .mat-simple-snackbar {
    color: black;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
