<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
<header class="header-section">
  <h2 class="dialog-title" mat-dialog-title>Nuevo Empleado</h2>
</header>
<div *ngIf="loading">
    <div class="custom-loading-text">
        <div class="custom-container-spinner">
            <mat-spinner diameter="40" color="primary"></mat-spinner>
            <span>cargando...</span>
        </div>
    </div>
</div>
<mat-dialog-content [formGroup]="employeeForm">
    <div>
        <mat-form-field class="app-form-field">
            <mat-label>Primer Nombre</mat-label>
            <input matInput appNameDirective type="text" size="20" [(ngModel)]="employee.firstName" formControlName="firstName"  class="input-uppercase" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="app-form-field">
            <mat-label>Other Nombre</mat-label>
            <input matInput appNameDirective type="text" [(ngModel)]="employee.otherName" size="50" formControlName="otherName" class="input-uppercase" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="app-form-field">
            <mat-label>Primer Apellido</mat-label>
            <input matInput appNameDirective type="text" size="20" [(ngModel)]="employee.firstSurname" formControlName="firstSurname" class="input-uppercase" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="app-form-field">
            <mat-label>Segundo Apellido</mat-label>
            <input matInput appNameDirective type="text" size="20" [(ngModel)]="employee.secondSurname" formControlName="secondSurname" class="input-uppercase" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="app-form-field" appearance="fill">
            <mat-label>Area</mat-label>
            <mat-select [(ngModel)]="area" [compareWith]="compareCategoryObjects" formControlName="area">
                <mat-option *ngFor="let area of areas" [value]="area">
                {{area.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="app-form-field" appearance="fill">
            <mat-label>Pais del Empleo</mat-label>
            <mat-select [(ngModel)]="country" [compareWith]="compareCategoryObjects" formControlName="country">
                <mat-option *ngFor="let country of countries" [value]="country">
                {{country.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="app-form-field" appearance="fill">
            <mat-label>Tipo de Identificación</mat-label>
            <mat-select [(ngModel)]="idType" [compareWith]="compareCategoryObjects" formControlName="idType">
                <mat-option *ngFor="let idType of idsType" [value]="idType">
                {{idType.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
         <mat-form-field class="app-form-field">
            <mat-label>Identificación</mat-label>
            <input matInput appAlphabeticalDirective type="text" size="20" [(ngModel)]="employee.identification" formControlName="identification" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="app-form-field" appearance="fill">
            <mat-label>Fecha de Ingreso</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [(ngModel)]="date" formControlName="startDate" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
   </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" id="btn_pagar" (click)="registerEmployee()">Registrar</button>
</mat-dialog-actions>
