<h3 mat-dialog-titlen style="color: #013145; text-align: center; margin: 0px; margin-bottom: 10px;">Eliminar Empleado</h3>
<div mat-dialog-content>
    <p>{{mensaje}}</p>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="confirmado()" cdkFocusInitial>Sí</button>
    <button mat-raised-button mat-dialog-close (click)="cerrarDialogo()">No</button>
</mat-dialog-actions>