<header class="header-section">
    <h1> Lista de empleados </h1>
</header>
<mat-card>
    <div class="app-header">
      <button mat-button
              color="primary"
              aria-label="Example icon button with a delete icon"
              (click)="addEmployee()"
              class="btn--add-employee">
        <mat-icon>add</mat-icon>
        <span class="btn--add-employee__text">
          Agregar empleado
        </span>
      </button>
      <div class="contianer-search">
        <mat-form-field appearance="legacy">
          <mat-label>Buscar</mat-label>
          <input #buscador
                 (keyup.enter)="applyFilter()"
                 [(ngModel)]="criterio" matInput placeholder=""
                 [matTooltipPosition]="'below'"
                 matTooltip="{{toolTipSearch}}" matTooltipClass="custom-tooltip">
        </mat-form-field>
        <button mat-button class="custom-button" (click)="applyFilter()" aria-label="Buscar">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    <div class="app-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" [class.isMobile]="true" matSort matSortActive="firstName" matSortDirection="asc">

            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Primer Nombre</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Primer Nombre:</span> {{element.firstName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="otherName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Otros Nombres</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Otros Nombres:</span> {{element.otherName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="firstSurname">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Primer Apellido</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Primer Apellido:</span> {{element.firstSurname}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="secondSurname">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Segundo Apellido</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Segundo Apelldio:</span>{{element.secondSurname}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Correo</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Correo:</span>{{element.email}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="identification">
                <mat-header-cell *matHeaderCellDef>Identificación</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Identificación:</span>{{element.identification}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="idType">
                <mat-header-cell *matHeaderCellDef>Tipo Identificación</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Tipo Identificació:</span>{{element.idType.value}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="area">
                <mat-header-cell *matHeaderCellDef>Area</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Area:</span>{{element.area.value}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="country">
                <mat-header-cell *matHeaderCellDef>País</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">País:</span>{{element.country.name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="creationDate">
                <mat-header-cell *matHeaderCellDef>Fecha de creación</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Fecha de creación:</span>
                    {{element.creationDate | date: 'dd/MM/yyyy HH:mm:ss'}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let element" class="action-link"> 
                    <span class="mobile-label">Correo:</span>
                    <mat-icon (click)="deleteEmployee(element)">delete</mat-icon>
                    <mat-icon (click)="updateEmployee(element)">edit</mat-icon>
                </mat-cell>
              </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns" class="header-tabla"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="changePage($event)">
        </mat-paginator>
    </div>

</mat-card>