.app-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 400px;
    min-height: 400px;
}

.black-icon {
    color: black;
}


/* width */

.mat-table::-webkit-scrollbar {
    width: 4px;
}


/* Track */

.mat-table::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.mat-table::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

.mat-table::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* width */

::-webkit-scrollbar {
    width: 4px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mobile-label {
    display: none;
}

@media(max-width: 600px) {
    .mobile-label {
        width: 80px;
        display: inline-block;
        font-weight: bold;
    }
    .mat-header-row {
        display: none;
    }
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
        min-height: 10px;
    }
}

.div-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mat-card {
    margin-bottom: 20px;
}

.app-header {
    padding: 8px 24px 0;
    display: flex;
    justify-content: space-between;
}

::ng-deep .custom-tooltip {
    font-size: 10pt;
    white-space: pre-line;
}

.mat-header-cell {
    text-align: center;
    justify-content: center;
    padding: 3px 3px 3px 0;
    color: #f3f1ff;
}

.mat-cell {
    text-align: center;
    justify-content: center;
    display: block;
    padding: 1px 1px 1px 0;
}

.mat-row {
    height: auto;
}

.header-tabla {
  background-color: #3f51b5;
  min-height: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pagada {
    background-color: #a3bd31;
    color: white;
    border: none;
    font-size: 8pt;
    padding: 3pt;
    padding-left: 5pt;
    padding-right: 5pt;
    border-radius: 2pt;
    width: 75px;
}

.adeuda {
    background-color: #cf2a27;
    color: white;
    border: none;
    font-size: 8pt;
    padding: 3pt;
    padding-left: 5pt;
    padding-right: 5pt;
    border-radius: 2pt;
    width: 75px;
}

.custom-button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.application-container {
  .mat-icon {
    width: 10px;
    height: 10px;
  }
}

.contianer-search {
  display: flex;
}

.btn--add-employee {
  .btn--add-employee__text {
    display: none;
  }
}


@media(min-width: 600px) {
  .btn--add-employee {
    .btn--add-employee__text {
      display: inline;
    }
  }
}
