<header class="app-header">
    <mat-toolbar color="primary">
      <img src="/assets/images/cidenet-logo.png"
           class="app-header__logo"
           alt="">
      <span class="app-header__title">Talento Humano</span>
    </mat-toolbar>
  </header>
  <main>
    <app-employees></app-employees>
  </main>
  