.app-header{

    .app-header__logo {
      height: 60%;
      width: auto;
    }
  
    .app-header__title {
      margin-left: 20px;
    }
  }
  
  .header-section {
    text-align: center;
    padding: 10px;
  }